.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: black;
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #F23D3D;
    background: white;
    padding: 1.5% 3%;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0D0D0D;
}

.txt {
    margin-top: 4%;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0D0D0D;
}

.btn_conteiner {

}

.btn {
    margin-top: 5%;
    border: 2px solid #F23D3D;
    padding: 5% 13%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0D0D0D;
    background: none;
    transition: 0.4s ease-in;
}

.btn:hover {
    box-shadow: inset -11.8em 0 0 0 #F23D3D, inset 11.8em 0 0 0 #F23D3D;
    color: white;
}

.count_txt {
    margin-top: 5%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0D0D0D;
}

.count {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0D0D0D;
}

@media (max-width: 1200px) and (min-width: 936px){
    .modal {
        width: 45%;
    }

}

@media (max-width: 935px) and (min-width: 661px){
    .modal {
        width: 55%;
        padding: 1.5% 5%;
    }

    .h2 {
        font-size: 20px;
    }

    .txt {
        font-size: 15px;
    }
}

@media (max-width: 660px) and (min-width: 431px){
    .modal {
        width: 75%;
        padding: 1.5% 7%;
    }

    .h2 {
        font-size: 19px;
    }

    .txt {
        font-size: 14px;
    }
}

@media (max-width: 430px) {

    .modal {
       width: 85%;
    }

    .h2 {
        font-size: 19px;
    }

    .txt {
        font-size: 13px;
    }

    .btn {
        margin-top: 5%;
        border: 2px solid #F23D3D;
        padding: 5% 13%;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #0D0D0D;
        background: none;
        transition: 0.4s ease-in;
    }

    .btn:hover {
        box-shadow: inset -11.8em 0 0 0 #F23D3D, inset 11.8em 0 0 0 #F23D3D;
        color: white;
    }

    .count_txt {
        margin-top: 5%;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #0D0D0D;
    }

    .count {
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #0D0D0D;
    }
}